*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {

  font-family: "Cuprum", Arial, sans-serif;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  width: 940px;
  margin: 0 auto;

  outline: 1px dashed pink;
}

/* Хедер */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #f3f7f9;
}

.top-header {
  width: 100%;
  background-color: #293449;
}

.top-header .container {
  position: relative;

  display:flex;
  align-items: center;


}



.main-header-logo {
  position: absolute;

  width: 220px;
  height: 49px;


  background-color: #ee3643;
  background-image: url("../img/logo-technomart.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

}
.main-header-logo:hover {
  background-color: #ca2c37;
  box-shadow: inset 0px -5px 0 0 rgba(154, 33, 42, 0.24);
}

.main-header-logo:active {
  background-color: #ba2732;
  box-shadow: inset 0px -5px 0 0 rgba(142, 30, 38, 0.24);
}

input[type="search"] {
  margin-left: 220px;
  /* position: relative; */
  width: 270px;

  border: none;
  background-color: #293449;


}

input[type="search"]::placeholder {
  padding: 45px;

  color: #ffffff;

}

input[type="search"]:focus {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: #ffffff;
  color: #000000;
}


/* .img-search::before {  Наверно нужен контейнер для инпута + спан с иконкой, я погуглил на инпут псевдоэлемент не вешается
  position: absolute;
  top: 19px;
  left: 400px;
  content: "";
  width: 17px;
  height: 17px;
  z-index: 2;

  background-image: url("../img/icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  outline: 1px solid red;
} */


.user-order{
  display: flex;
  align-items: center;
  width: 455px;
  justify-content: space-between;
  margin: 0px;
  margin-left: auto;
  padding: 0px;

  /* outline: 1px solid pink; */

}

.user-order a {
  position: relative;
  padding: 12px 45px;

  color: #ffffff;

}

.user-order a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.5);
}

.bookmark::before{
  content: "";
  position: absolute;
  z-index: 23;

  left: 17px;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-position-x: center;
  background-repeat: no-repeat;
  opacity: 0.3;

}

.bookmark:hover::before{
  opacity: 1;
}

.bookmark:active::before{
  opacity: 0.5;
}

.basket::before{
  content: "";
  position: absolute;
  z-index: 23;

  left: 15px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-position-x: center;
  background-repeat: no-repeat;
  opacity: 0.3;

}

.basket:hover::before{
  opacity: 1;
}

.basket:active::before{
  opacity: 0.5;
}


.button-order {
  padding: 10px 23px 10px 24px;
  background-color: #63a63e;
  border: none;
  color: #ffffff;
}
.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.button-order:focus {
  background-color: #63a63e;
}


.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.about {

  margin-left: 53px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;

}


.contacts  {

  font-size: 14px;
  line-height: 24px;
  color: #32425c;

}

.contacts span {
  display: block;
  position: relative;;

  padding: 9px 49px 5px 71px;

  margin-bottom: 5px;

  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.contacts span::before {
  content: "";
  position: absolute;
  left: 12px;

  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-position:center;
  background-repeat: no-repeat;


}

.user-login{
  margin-top: 25px;
  align-self: flex-start;
  display: flex;
}

.user-login li:last-child {
  margin-left: 10px;
}

.user-login a {
  position: relative;
  padding: 12px 27px 12px 48px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-login .registred-link {
  padding-left: 25px;
}


.user-login a:hover,
.user-orders:hover,
.personal-area:hover {
  color: #ee3643;
}

.login-link svg {
  position: absolute;
  top: 15px;
  left: 15px;
}



.login-link:hover path,
.user-name:hover path,
.log-out:hover path {
  fill: #32425c;
}

.user-login a:active,
.user-logined a:active {
  color: rgba(0, 0, 0, 0.3);

}

.login-link:hover::before {
  fill: #000000;
}


.user-logined {
  margin: 0px;
  padding: 0px;
  display: flex;
  min-height: 70px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  width: 299px;



}

.user-logined li:first-child {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #ffffff;
}

.user-name {
  position: relative;
  display: block;
  width: 250px;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;

  font-size: 21px;
  line-height: 21px;
}



.user-name svg {
  position: absolute;
  left: 13px;
  top: 10px;
}



.user-name:active path,
.log-out:active path,
.user-login a:active path {
  fill: #c5c5c5;

}



.log-out{
  position: absolute;
  top: 0px;
  right: 10px;
  display: block;
  width: 41px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 8px;


}

.user-orders {
  position: relative;
  padding-right: 20px;
  padding-left: 17px;
}

.user-orders::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  right: 0px;
  top: 7px;
  background-image: url("../img/dot.png");
  background-position: center;
  background-repeat: no-repeat;
}

.personal-area {
  padding-right: 13px;
  padding-left: 17px;
}

.user-orders,
.personal-area {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;


}



/* Навигация сайта в хедере */

.site-navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 40px;
  margin-bottom: 60px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;

}


.site-navigation a {
  display: block;
  padding: 20px 30px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}


/* индекс хтмл мейн */

.product-navigation li,
.product-navigation-after li {
  position: relative;
  width: 300px;
  min-height: 123px;

}

/* первая секция промо меню*/

.product-navigation {
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.big-container { /* Название конечно не очень :DD*/
  display:flex;
  justify-content: space-between;
  align-items: flex-start;


}

.product-navigation-after {
  margin: 0px;
  padding: 0px;

}

.product-navigation-after {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px;
  min-height: 267px;

}

.product-navigation h3,
.product-navigation-after h3 {
  margin-top: 23px;
  margin-left: 22px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

}

.product-navigation a,
.product-navigation-after a {
  position: absolute;
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 63px;
  left: 25px;


  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  border-radius: 3px;
  background-color: #000000;
  opacity: 0.1;
}

.product-navigation a:hover,
.product-navigation-after a:hover {
  opacity: 0.2;
}

.product-navigation a:active,
.product-navigation-after a:active {
  opacity: 0.3;
}

.product-navigation li:first-child {
  background-color: #ffbf47;
}

.product-navigation li:first-child::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.new-flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;

  background-image: url("../img/flag-new.png");
  background-position: center;
  background-repeat: no-repeat;

}


.product-navigation li:nth-child(2) {
  background-color: #3bbce3;
}

.product-navigation li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 197px;
  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.product-navigation li:last-child {
  background-color: #dc91d8;
}

.product-navigation li:last-child::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.product-navigation-after li:first-child{
  background-color: #8ed78f;
}

.product-navigation-after li:first-child::before{
  content: "";
  position: absolute;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product-navigation-after li:last-child{
  margin-top: 20px;
  background-color: #ffc047;
}

.product-navigation-after li:last-child::before{
  content: "";
  position: absolute;
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Слайдер, с ним я еще повоюю. тут нужно долго втыкать, пока оставлю так. все очень криво */

.slider-container{
  position: relative;
  width: 620px;
  height: 266px;
  padding: 0px;
  margin: 0px;

}





.slider-container input {
  display: none;
}

.slider {
  background-color: #ddd;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
}

.slides {
  height: inherit;
  position: absolute;
  width: inherit;

  display: none;
}

#slide1:checked ~ .slider > .slide-1,
#slide2:checked ~ .slider > .slide-2 {
  display: block;

}
.slider-container .controls {
  left: 45%;

  position: absolute;
  bottom: 30px;

}

.slider-container label {
  cursor: pointer;
  display: inline-block;
  height: 6px;
  margin: auto 10px;
  position: relative;
  width: 6px;
  border-radius: 50%;




}

.slider-container label::after {
  content: " ";
  display: block;
  position: absolute;
  top:-3px;
  left: -3px;

  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #ddd;

}


#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2) {

	background: #ee3643;
}

.slider-container .slide-1 {
  background-color: #887869;
  background-image: url("../img/slider-img-1.jpg");

}

.slider-container .slide-2 {
  background-color: #887869;
  background-image: url("../img/slider-img-2.jpg");
  /* background-size: cover; */
}

.slides h3 {
  margin: 0;
  margin-top: 25px;
  margin-left: 25px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.slides p {
  display: block;
  margin-top: 5px;
  margin-left: 25px;
  padding: 0px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider a {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin-left: 25px;
  margin-top: 120px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  background-color: #ee3643;
  border-radius: 3px;
}

.slide-1 a:hover,
.slide-2 a:hover {
  background-color: #ca2c37;
}

.slider a:active {
  background-color: #ba2732;
}



/* Конец слайдера */


/* вторая секция топ-товары*/

.top-product-container,
.top-manufacturer-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
}

.top-product-container{
  margin-top: 53px;
}

.top-product-container h2,
.top-manufacturer-container h2 {

  margin-top: 29px;
  margin-bottom: 26px;
  margin-left: 30px;

  outline: 1px solid blue;
}


.top-product-container h2,
.top-manufacturer-container h2,
.perforators-info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.top-product-container a,
.top-manufacturer-container .top-manufactures-all {

  width: 253px;

  margin-right: 30px;
  padding-top: 12px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  background-color: #ee3643;
  border-radius: 3px;
}

.top-manufacturer-container a {

}

.top-product-navigation{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


/* Разметка карточек товаров */

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-family: "PT Sans", arial, sans-serif;
  font-weight: bold;
  text-align: center;

  border: 1px solid #eaeaea;
}

.product-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.top-product-navigation .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item .action {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  min-height: 88px;
  padding: 40px 0;

  /* background-color: tomato; */
  z-index: 10;
}

.catalog-item .action .buy,
.catalog-item .action .add-bookmark {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;



  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #63a63e;

  border-radius:3px;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.catalog-item .action .add-bookmark {
  color: #32425c;
  background: white;
  border: 3px solid #63a63e;
  box-shadow: none;
}

.catalog-item .action .buy {
  padding: 10px 0;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .action {
  display: none;
}

.catalog-item:hover .action {
  display: block;

}

.catalog-item:hover img{
  display: none;
}

.catalog-item:hover {
  box-shadow: 0px 5px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}


.catalog-item .buy:hover {
  background-color: #5fbb2d;

}

.catalog-item .buy:active {
  background-color: #518534;
  box-shadow: none;
}

.catalog-item .add-bookmark:hover {
  border-color: #32425c;
}

.catalog-item .add-bookmark:active {
  border-color: rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}


.catalog-item .image {
  width: 218px;
  height: 170px;
  margin: 0;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item h3 {
  min-height: 40px;
  padding: 0 25px;
  margin: 0;
  margin-top: 9px;

  font-size: 18px;
  line-height: 20px;
  order: 1;
}

.catalog-item p{
  font-size: 17px;
  line-height: 18px;
}

.catalog-item .old-price {
  min-height: 18px;

  margin: 10px 0;

  color: #a9a9a9;
  text-decoration: line-through;
  order: 2;
 }

.catalog-item .new-price {

  order: 3;
  position: relative;
  min-width: 140px;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;

}


.catalog-item .new-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;

}
/* Конец разметки карточек товара */




/* секция три - топ производители */

.top-manufacturer-navigation{
  padding: 0px;
  /* min-height:310px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.top-manufacturer-navigation a {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 220px;
  min-height: 145px;
  text-align: center;
  border: 1px solid #eaeaea;
}

.top-manufacturer li {
  margin-bottom: 20px;
}

.top-manufacturer-navigation a:hover {

  box-shadow: 0px 10px 25px 1.28px rgba(41, 52, 73, 0.5);

}

.top-manufacturer-navigation a:active {

  box-shadow: 0px 8px 10px 1px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/* секция четыре - сервисы */

.service {
  font-family: "PT Sans", arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #f4f8f9;
}

.service h2{
  padding-top: 63px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

}

.service h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.service-wrap {
  display: flex;
  justify-content: flex-start;

  outline: 1px solid red;
}


.service-slider .slide-1 {
  margin-left: 80px;
  width: 468px;
  height: 261px;

  background-image: url("../img/deliviry.jpg");
  background-repeat: no-repeat;
  background-position: 50px 50px;

  outline: 1px solid tomato;
}
/*
.service-warranty {
  background-image: url("../img/warranty.jpg");
  background-repeat: no-repeat;

}

.service-credit {
  background-image: url("../img/credit.jpg");
  background-repeat: no-repeat;

}  чето дич получилась, какаято :DDD*/
.service-navigation{
  position: relative;
  padding: 0px;
  padding-bottom: 100px;
  margin-top: 50px;
}

/* .service-navigation::after{
  content: "";

  position: absolute;
  top: -35px;
  left: 230px;

  width: 10px;
  height: 279px;

  background-image: url("../img/partition.png");
  background-position: center;
  background-repeat: no-repeat;
} */

.service-navigation li {
  width: 240px;

  background-color: #32425c;
  box-shadow:
    inset 0 1px 0 0 #778394,
    0 1px 0 0 #6f798a;
}

.service-navigation label {
  display:block;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 21px;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
}

.service-navigation li:hover {
  background-color: #293449;

  box-shadow:
    inset 0 1px 0 0 #747e8e,
    0 1px 0 0 #6f798a;
}

.service-navigation label:active{
  background-color: #ffffff;
  color: #32425c;
}


/* секция пять - детали компании */
.company-details-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-right: auto;
  margin-left: auto;

  font-style: "PT Sans", arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;


}

.company-details p{
  margin-top: 13px;
  margin-bottom: 13px;

}

.company-details,
.our-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 75px;
  margin-bottom: 75px;

  outline: 1px dashed darkred;
}

.our-contacts{
  margin-left: auto;
}

.our-contacts figure {
  margin-left: 0px;
  margin-right: 0px;
}

.company-details-container h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0px;
}

.deliviry-company {

  margin: 0px;
  padding: 0px;

}

.deliviry-company li {
  padding-left: 35px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;

  background-image: url("../img/red-line.png");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 8px; /* Капец я с ними провозился */

}


.company-details a,
.our-contacts button {
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: auto;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.our-contacts button {
  border:none;
  padding-left: 64px;
  padding-right: 60px;
}

.company-details a {
  padding-left: 41px;
  padding-right: 41px;
}

/* Попапы*/

.map-popup.container {
  position: relative;
}

.map-popup img {
  display: block;
  margin-left: auto;

  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.button-container .close-button,
.popup-button-container .close-button,
.map-popup button {
  position: absolute;
  width: 22px;
  height: 22px;
  padding: 0px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.map-popup button{
  top: 10px;
  right: 10px;
}

.write-us-popup{
  width: 620px;
  margin: 0 auto;

  border-top: 7px solid #ff5257;
}

.write-us-popup form {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  margin-top: 45px;
  width: 460px;


}

.form-item {
  display:block;
  margin:0;
  margin-bottom: 21px;
  width: 220px;


}

.form-item label{
  text-transform: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;

  display: block;
  margin-bottom: 8px;
}

.form-item input {
  width: 220px;
}
.form-item input,
.form-item textarea {

  padding: 10px 15px 10px 14px;
  border: 2px solid #dee3e4;
  border-radius: 3px;

  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.form-textarea {

  width: 100%;
}

.form-item textarea{
  width: 100%;
  min-height: 114px;
  resize: none;
}

.write-us-popup .button-container {
  position: relative;
  width: 100%;
  min-height: 112px;
  background-color: #f4f4f4;

}

.button-container .close-button {
  position: absolute;
  top: -290px;
  right: 10px;
}

.button-container .submit-button {
  position: absolute;
  width: 460px;
  top: 37px;
  left: 80px;


  border:none;
  background-color: #ee3643;
  border-radius: 3px;

  text-transform: uppercase;
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 9px;
}


/* футер */

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.main-footer .container {
  display: flex;


}

.main-footer nav {
  min-height: 193px;
}


.footer-contacts{
  width: 325px;

}

.footer-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  width: 615px;
  margin: 0px;
  padding: 0px;




}

.footer-navigation-list li {


  padding: 0px;
  margin: 0px 10px 5px 10px;
}


.main-footer-logo{
  display: block;
  width: 220px;
  height: 68px;

  background-color: #ee3643;
  background-image: url("../img/logo-technomart.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

}


.footer-navigation-list a {
  display: block;
  padding: 15px;
  color: #ffffff;

}

.footer-navigation-list .another-color,
.feed-back a,
.created-by a {
  color: #ffd180;
}

.footer-bottom {
  width: 100%;

  background-color: #293449;
}

.footer-bottom .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 107px;


}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  padding: 0px;
  min-width: 140px;
}

.vkontakte-link,
.facebook-link,
.instagram-link {
  background-position: center;
  background-repeat: no-repeat;
}

.vkontakte-link {
  background-image: url("../img/icon-vk.svg");

}

.facebook-link {
  background-image: url("../img/icon-fb.svg");

}

.instagram-link {
  background-image: url("../img/icon-insta.svg");

}


.feed-container {
  display: flex;
  min-width: 350px;
  justify-content: space-around;
}

.social-list a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #212a3a;
}

.footer-navigation-list a:hover,
.feed-back a:hover,
.created-by a:hover {
  text-decoration: underline;

}

.footer-navigation-list a:active {
  color: rgba(241, 245, 247, 0.5);
  border: none;
}

.footer-navigation-list .another-color:active {
  color: rgba(255, 209, 128, 0.5);
  border: none;
}

.social-list a:hover {
  background-color: #ef4450;
}

.feed-back a:active,
.created-by a:active {

  text-decoration: none;
  color: #ee3643;
  border: none;

}

/* каталог.хтмл */

/* Хлебные крошки */
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0;

}



.breadcrumbs a {
  font-family: "PT sans", arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";

  position: absolute;
  top: 4px;
  left: -25px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.breadcrumbs li:first-child {
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-home.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.to-index {
  width: 25px;
  height: 18px;
  display: block;
}





.page-title {
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 30px;
  width: 940px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;


  background-color: #f2f6f8;


}
/* фильтры */

.filters {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;

}



.filter-manufacturer ul,
.network-filter ul {
  margin: 0px;
  padding: 0px;
}

.product-list {
  width: 700px;
  margin: 20px auto;
  padding: 0px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

}


.filters .filters-title {
  margin:0;
  padding: 10px 140px 10px 19px;
  border-radius: 3px;
}

.sorting-container{


  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 3px;

}

.sorting-container h3 {
  padding: 10px 40px 10px 19px;
  margin: 0px;
}



.sorting-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0px;
  padding: 10px 10px 10px 10px;
  width: 460px;
  outline:1px solid red;
}

.sorting-filter li {
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.paginator {
  display: flex;
}


form {
  font-family: "PT Sans", arial, sans-serif;
  text-transform: uppercase;
}

/*  пока оставлю до консультации*/
.input-wrp input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  margin-top: 40px;
  outline: none;
}

.input-wrp .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: tomato;
  width:10px;
  height: 10px;
}



.filter-price .input-wrp {
  width:220px;
  height: 80px;

  margin-bottom: 15px;

  border:none;
  background-color: #f7f3ec;
}


.filters-title {
  width: 220px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter fieldset {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 30px;

  border:none;
  border-bottom: 1px solid #c5c5c5;
}

.filter legend {
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 30px;
  font-weight: bold;

}

.filter ul {
  padding: 0;
  margin: 0;

}


.filter-option {
  margin-bottom: 17px;
  padding-top: 3px;
  padding-left: 35px;
  padding-bottom: 3px;

}

.filter-option label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter-input-checkbox:checked + label::before {
  background-image: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


input[type="checkbox"],
input[type="radio"] {
  font-size:15px;
  line-height: 20px;
  color: #000000;
}

.filter-button {
  width: 140px;

  background-color: #ffffff;
  border: 1px solid #f6f6f6;
  border-radius: 3px;

}

.sorting-container {
  width: 700px;

  font-family: "PT Sans", arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.by-price {
  border: none;
  color: #ee3643;
}



.by-type,
.by-fynctional {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.by-price:hover,
.by-type:hover,
.by-fynctional:hover {
  border-bottom: 1px solid #ee3643;
}

.by-price:active,
.by-type:active,
.by-fynctional:active {
  border: none;
  color: #ee3643;
}


/* убрать ширину сделать через ссылку + падинги */
.paginator li:not(:last-child) {
  width: 38px;
}

.paginator li:last-child {
  width: 140px;
}

.paginator li {
  text-align: center;

  border: 1px solid #f6f6f6;
  border-radius: 3px;

}

.paginator li:hover {
  border-color: #bdc6ca;
}

.paginator li:active {
  border-color: #ee3643;
}

/*  */

.paginator button {
  border: none;
  background-color: #ffffff;
}


.perforators-info {
  background-color: #f4f8f9;
}

.perforators-info p {
  font-family: "PT Sans", arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}


/* Товар добавлен в корзину попап */

.item-added-popup {

  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 0px;
  margin: 0 auto;

  border-top: 7px solid #ff5257;
  text-align: center;

  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);


}

.item-added-popup .popup-title{
  position: relative;
  margin: 0px;
  width: 100%;
  padding: 65px 0;


}
.item-added-popup .popup-title::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 81px;
  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-position: center;
  background-repeat: no-repeat;

}
/* перерыв мешают другие стили */
.item-added-popup .popup-button-container {
  position: relative;
  min-height: 112px;
  width: 620px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: #f4f4f4;

}


.popup-button-container .сontinue-shopping,
.popup-button-container .make-buy {

  width: 220px;
  padding: 10px 0px;
  margin: 0px;

  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.popup-button-container .make-buy {

  margin-right: 20px;

  background-color: #ee3643;



  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 9px;

}



.popup-button-container .сontinue-shopping {

  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  color: #000000;
  background-color: #ffffff
}

.popup-button-container .close-button {
  top: -150px;
  right: 10px;
}
